%h2.title
  Staff
%ul
  - @miembros.each do |miembro|
    %li
      = image_tag miembro.avatar(:thumb)
      .datos
        %h3.nombre
          = miembro.nombre
        %h4.cargo
          = miembro.cargo
        %span.email 
          = miembro.correo
        %span.phone
          = miembro.telefono
      -if current_admin
        = link_to 'Ver', miembro
        = link_to 'Editar', edit_miembro_path(miembro)
        = link_to 'Eliminar', miembro, :confirm => 'Are you sure?', :method => :delete

