#servicios.region
  %section#servicios-listado
    %ul
      %li.column
        = image_tag '/images/images/servicios/img-servicios-edicion.jpg'
        %h2.title EDICIÓN Y POSTPRODUCCIÓN
        %p Nuestras islas reciben gustosamente sus comerciales, videos corporativos, documentales, videoclips y todo tipo de formato audiovisual. Cortes a la medida del cliente.
        
      %li.column
        = image_tag '/images/images/servicios/img-servicios-animacion.jpg'
        %h2.title ANIMACION Y MODELADO 3D
        %p Creamos estructuras, objetos y personajes en 2 y 3 dimensiones, les agregamos movimiento e imaginación y logramos que nos relaten los mensajes que su proyecto necesita.
        
      %li.column.third
        = image_tag '/images/images/servicios/img-servicios-realizacion.jpg'
        %h2.title REALIZACION DE VIDEO
        %p Concepto, guión, producción y realización. Lo acompañamos en todas las etapas del proceso para crear un producto audiovisual que cumpla con los objetivos de su proyecto.
        
      %li.column
        = image_tag '/images/images/servicios/img-servicios-diseno.jpg'
        %h2.title DISEÑO GRÁFICO
        %p Realizamos diseño publicitario, corporativo y editorial. Nuestra meta es lograr que la imagen de su institución o producto se refleje de la mejor manera en cada pieza, arte o publicación. 
        
      %li.column
        = image_tag '/images/images/servicios/img-servicios-web.jpg'
        %h2.title WEB Y MULTIMEDIA
        %p Las páginas web se han convertido en una poderosa herramienta de comunicación. Lo asesoramos técnica y conceptulamente para crear un website dinámico y de gran impacto.
        
      %li.column.third
        = image_tag '/images/images/servicios/img-servicios-social.jpg'
        %h2.title SOCIAL MEDIA
        %p Las redes sociales generan un contacto directo y continuo con clientes internos o externos. Posicionamos, actualizamos y mantenemos sus redes con una módica inversión y gran rentabilidad.
        




