- page_title! 'Edición y postproducción, animación y modelado 3d, realización de video, diseño gráfico, web y multimedia'

.wrapper
  = render 'layouts/slider'
#scroll-laposta{:style => 'position:relative; top:-30px'}


= render 'laposta'

%h2#servicios-block.page-title [ SERVICIOS ]
= render 'servicios'

%h2#postafolio-block.page-title [ POST-AFOLIO ]
= render 'posts/postafolio'

%h2#consultas-block.page-title [ CONSULTAS ]
= render 'consultas'
