%h2.title Ingresar
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %div.field
    = f.label :email, "E-mail"
    = f.email_field :email
  %div.field
    = f.label :password, "Contraseña"
    = f.password_field :password
  - if devise_mapping.rememberable?
    %div.field.checkbox
      = f.check_box :remember_me
      = f.label :remember_me, "No preguntar de nuevo"
  %div.actions
    = f.submit "Ingresar"
= render :partial => "devise/shared/links"
