= form_for @post, :html => { :multipart => true } do |f|
  -if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :titulo, "Título"
    = f.text_field :titulo
  .field
    = f.label :tipo
    = f.select(:tipo, options_for_select( ['Realización', 'Animación y Post', 'Diseño y Web'], 'Realización' ) )
  .field
    = f.label :descripcion, "Descripción"
    = f.text_area :descripcion
  .field
    = f.label :url_web, "Url Web"
    = f.text_field :url_web
  .field
    = f.label :video
    = f.text_field :video
  .field
    = f.label :foto
    = f.file_field :foto
  .actions
    = f.submit 'Guardar'
