%li.picture
  = image_tag post.foto(:thumb)
  -if current_admin
    %td= link_to 'Ver', post
    %td= link_to 'Editar', edit_post_path(post)
    %td= link_to 'Eliminar', post, :confirm => 'Are you sure?', :method => :delete
  .content
    %h2.title= post.titulo
    %p
      = post.descripcion
      .email
      = post.url_web
    = link_to '', post.foto(:full),
      :"data-target" => 'flare',
      :"data-flare-gallery" => 'gallery1',
      :"data-flare-thumb" => post.foto(:thumb)
