%h2.title
  Posts
.content
  - @posts.each do |post|
    %article
      %h3 
        = post.titulo
      %span.date 
        = post.created_at
      %p
        = truncate(post.descripcion, :length => 60)
      = image_tag post.foto(:thumb)
      -if current_admin
        %td= link_to 'Ver', post
        %td= link_to 'Editar', edit_post_path(post)
        %td= link_to 'Eliminar', post, :confirm => 'Are you sure?', :method => :delete

.div{:style => 'display:none'}
  - @posts.each do |post|
    %tr
      %td
      %td= post.titulo
      %td= post.tipo
      %td= post.descripcion
      %td= post.url_web
      %td= post.video

