- content_for :scripts do
  = render 'scripts/flare'
  = render 'scripts/flare-init'

#postafolio.region
  %nav#portafolio-botones
    %li
      = link_to 'Realización', url_for( :search => 'Realización' )
    %li
      = link_to 'Animación y Post', url_for( :search => 'Animación y Post' )
    %li
      = link_to 'Diseño y Web', url_for( :search => 'Diseño y Web' )

  %ul#portafolio-listado
    - @posts.each do |post|
      %li{:class => agregar_clase_segun_tipo(post) }
        = image_tag post.foto(:thumb)
        .content
          %h2.title= post.titulo
          %p
            = post.descripcion
          - if post.tipo == 'Diseño y Web'  
            .email
              = link_to post.url_web, post.url_web, :target => '_blank'
            = link_to '', post.foto(:full), :class => 'lightbox fotaso',
              :"data-target" => 'flare',
              :"data-flare-gallery" => post.id,
              :"data-flare-thumb" => post.foto(:thumb)
          - else
            = link_to '', '', :class => 'lightbox videaso',
              :"data-target" => 'flare', 
              :"data-flare-video" => post.video 

          -if current_admin
            .crud
              = link_to 'Ver', post
              = link_to 'Editar', edit_post_path(post)
              = link_to 'Eliminar', post, :confirm => 'Are you sure?', :method => :delete

        - if post.tipo == 'Diseño y Web' 
          - post.imagenes.each do |imagen|
            = link_to '', imagen.fotografia(:full), :class => 'lightbox',
              :"data-target" => 'flare',
              :"data-flare-gallery" => post.id,
              :"data-flare-thumb" => imagen.fotografia(:thumb)

