- content_for :scripts do
  = render 'scripts/flare'
  = render 'scripts/flare-init'

#postafolio.region
  %nav#portafolio-botones
    %li
      = link_to 'Realización', url_for( :search => 'Realización' )
    %li
      = link_to 'Animación y Post', url_for( :search => 'Animación y Post' )
    %li
      = link_to 'Diseño y Web', url_for( :search => 'Diseño y Web' )

  %ul#portafolio-listado
    - @posts.each do |post|
      %li{:class => agregar_clase_segun_tipo(post) }
        = image_tag post.foto(:thumb)
        -if current_admin
          %td= link_to 'Ver', post
          %td= link_to 'Editar', edit_post_path(post)
          %td= link_to 'Eliminar', post, :confirm => 'Are you sure?', :method => :delete
        .content
          %h2.title= post.titulo
          %p
            = post.descripcion
            .email
            = post.url_web
          = link_to '', post.foto(:full),
            :"data-target" => 'flare',
            :"data-flare-gallery" => 'gallery1',
            :"data-flare-thumb" => post.foto(:thumb)

