
%ul.menu
  %li#home-top
    = link_to  'Inicio', 'javascript:$.scrollTo("body",800);' 
  %li
    = link_to  'LA POST-A', 'javascript:$.scrollTo("#laposta-description",800);' 
  %li
    = link_to  'SERVICIOS', 'javascript:$.scrollTo("#servicios-block",800);'
  %li
    = link_to  'POST-AFOLIO', 'javascript:$.scrollTo("#postafolio-block",800);' 
  %li
    = link_to  'CONSULTAS', 'javascript:$.scrollTo("#consultas-block",800);'

  -if current_admin
    %li
      = link_to 'Mensajes de contacto', contactos_path
    %li
      = link_to 'Staff', miembros_path
    %li
      = link_to 'Slides', slides_path
    %li
      = link_to 'Post-afolio', posts_path
    %li
      = link_to 'Desconectarse', destroy_admin_session_path
