!!!
%html
  %head
    %title= page_title
    = render 'layouts/metas'
    = render 'layouts/head'


  %body
    - if notice
      %p.notice= notice
    #menu-dinamico
      = render 'layouts/menu'
    %header{:role => 'banner'}
      .wrapper
        %h1
          %span La Post-A audiovisual
          = link_to image_tag('/images/logo.png'), root_path
    %nav.main-menu.wrapper
      = render 'layouts/menu'
    %section#content{:role => 'main'}
      = yield


  = render 'layouts/footer'


